---
- name: Install dependencies
  ansible.builtin.apt:
    pkg:
      - "python3-debian"

- name: Remove old caddy apt configuration
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/etc/apt/sources.list.d/caddy.list"
    - "/etc/apt/keyrings/caddy.gpg"

- name: Add caddy apt repository
  ansible.builtin.deb822_repository:
    name: caddy
    uris: "{{ caddy_apt_repo_url }}"
    suites: "{{ caddy_apt_repo_suite }}"
    components: "{{ caddy_apt_repo_component }}"
    signed_by: "{{ caddy_apt_repo_gpg_key }}"
    state: present
  register: _apt_repo

- name: Install caddy
  ansible.builtin.apt:
    name: caddy
    install_recommends: false
    update_cache: "{{ true if _apt_repo is changed else false }}"
    state: present

- name: Create caddy exporters dir
  ansible.builtin.file:
    path: /etc/caddy/exporters
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx

- name: Create caddy tls dir
  ansible.builtin.file:
    path: /etc/caddy/tls
    state: directory
    owner: root
    group: caddy
    mode: u=rwx,g=rx,o=
  when:
    - caddy_cert_file != ""
    - caddy_key_file != ""

- name: Copy tls cert
  ansible.builtin.copy:
    src: "{{ caddy_copy_cert }}"
    remote_src: true
    dest: "{{ caddy_cert_file }}"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  when:
    - caddy_copy_cert != ""
    - caddy_cert_file != ""

- name: Copy tls key
  ansible.builtin.copy:
    src: "{{ caddy_copy_key }}"
    remote_src: true
    dest: "{{ caddy_key_file }}"
    owner: root
    group: caddy
    mode: u=rw,g=r,o=
  when:
    - caddy_copy_key != ""
    - caddy_key_file != ""

- name: Add base caddy config
  ansible.builtin.template:
    src: Caddyfile
    dest: /etc/caddy/Caddyfile
    owner: root
    group: caddy
    mode: u=rw,g=r,o=
  notify: restart caddy

- name: "{{ exporter_name }}: Add caddy config"
  ansible.builtin.template:
    src: caddy
    dest: /etc/caddy/exporters/{{ exporter_name }}
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify: restart caddy

- name: Start and enable caddy
  ansible.builtin.service:
    name: caddy
    state: started
    enabled: true
