#jinja2: trim_blocks: "false", lstrip_blocks: "true"
# {{ ansible_managed }}

[Unit]
Description={{ exporter_description }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ exporter_user }}
Group={{ exporter_group }}
EnvironmentFile=-/etc/default/{{ exporter_service }}
ExecStart={{ exporter_bin_dir }}/{{ exporter_binary }} \
          $EXPORTER_ARGS
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=on-failure
RestartSec=10s
TimeoutStopSec=20s
SendSIGKILL=no

SyslogIdentifier={{ exporter_service }}

NoNewPrivileges=yes
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
